
{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Camino</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, eaque iusto fugiat iste consequatur autem commodi deleniti accusamus, dolorum quo est? Consequuntur suscipit delectus id impedit, nam laboriosam soluta excepturi.</p>
        
    </div>

    <div class="col-4">
        <img src="assets/img/camino.jpg" class="img-thumbnail">
    </div>

</div>

{{> footer }}